<h1 class="pt-5 text-primary text-center">LISTA DELLA SPESA</h1>

@if(itemsToCheck.length > 0 || itemsChecked.length > 0){ @if(itemsToCheck.length
> 0){
<h2>Da prendere</h2>
@for(item of itemsToCheck;track item.id){
<div (click)="change(item)" class="d-flex justify-content-between">
  <p>{{ item.name }}</p>
  <p>{{ item.quantity.value }} {{ item.quantity.unit }}</p>
</div>
}} @if(itemsChecked.length > 0){
<h2>Presi</h2>
@for(item of itemsChecked;track item.id){
<div
  (click)="delete(item.id)"
  class="d-flex justify-content-between text-decoration-line-through"
>
  <p>{{ item.name }}</p>
  <p>{{ item.quantity.value }} {{ item.quantity.unit }}</p>
</div>

}}}
