<h1 class="pt-5 text-primary text-center">LISTA DELLA SPESA</h1>

@if(!isLoading){
<div class="container mt-4">
  @if(itemsToCheck.length > 0 || itemsChecked.length > 0){
  @if(itemsToCheck.length > 0){
  <section class="mb-5">
    <h2 class="mb-3 text-success">🛒 Da prendere</h2>
    <ul class="list-group shadow-sm">
      @for(item of itemsToCheck;track item.id){
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
        role="button"
        (click)="change(item)"
      >
        <span>{{ item.name }}</span>
        <span class="badge bg-primary rounded-pill" *ngIf="item.quantity > 0">
          {{ item.quantity }}
        </span>
      </li>
      }
    </ul>
  </section>
  } @if(itemsChecked.length > 0){
  <section>
    <h2 class="mb-3 text-muted">✅ Presi</h2>
    <ul class="list-group shadow-sm">
      @for(item of itemsChecked;track item.id){
      <li
        class="list-group-item d-flex justify-content-between align-items-center text-decoration-line-through text-muted"
        (click)="change(item)"
      >
        <span role="button">{{ item.name }}</span>
        <span
          (click)="delete(item.id)"
          role="button"
          class="d-flex justify-content-center align-content-center text-danger fs-4"
        >
          <ng-icon name="iconoirTrash"></ng-icon
        ></span>
      </li>
      }
    </ul>
  </section>
  } } @else {
  <div
    class="d-flex flex-column justify-content-center align-items-center vh-50 text-center mt-5"
  >
    <h2 class="text-secondary">Nessun prodotto inserito 💤</h2>
  </div>
  }
</div>
} @else {
<div
  class="d-flex flex-column justify-content-center align-items-center vh-50 text-center mt-5"
>
  <div class="d-flex gap-4 text-success">
    <span class="loader">Caricamento</span>
  </div>
</div>
}
