<div
  class="container-fluid position-fixed bottom-0 bg-light shadow-top rounded-5"
>
  <div class="row row-cols-2">
    <div
      class="col d-flex justify-content-center align-content-center p-3 border-end border-3 border-primary"
    >
      <span
        routerLink="/"
        class="d-flex justify-content-center align-content-center fs-1 bg-secondary p-2 rounded-4"
        ><ng-icon name="iconoirNotes"></ng-icon
      ></span>
    </div>
    <div class="col d-flex justify-content-center align-content-center p-3">
      <span
        routerLink="/add-item"
        class="d-flex justify-content-center align-content-center fs-1 bg-secondary p-2 rounded-4"
        ><ng-icon name="iconoirShoppingBagPlus"></ng-icon
      ></span>
    </div>
  </div>
</div>
