<h1 class="pt-5 text-primary text-center">AGGIUNGI UN PRODOTTO</h1>

<div class="container mt-4 d-flex justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="bg-light border rounded shadow-sm p-4">
      <form (ngSubmit)="addItem()" [formGroup]="form">
        <div class="mb-3">
          <label for="name" class="form-label">Nome prodotto</label>
          <input
            formControlName="name"
            type="text"
            class="form-control"
            id="name"
            placeholder="Es. Pomodori"
          />
        </div>

        <div class="row mb-3" formGroupName="quantity">
          <div class="col-5">
            <label for="unit" class="form-label">Unità</label>
            <select formControlName="unit" class="form-select" id="unit">
              @for(unit of units;track unit;let idx = $index){
              <option [selected]="idx === 0" value="{{ unit }}">
                {{ unit }}
              </option>
              }
            </select>
          </div>

          <div class="col-7">
            <label for="value" class="form-label">Quantità</label>
            <input
              formControlName="value"
              type="number"
              class="form-control"
              id="value"
              placeholder="0"
              min="0"
            />
          </div>
        </div>

        <button
          [disabled]="!form.valid"
          type="submit"
          class="btn btn-primary w-100 d-flex gap-2 align-items-center justify-content-center"
        >
          <span class="d-flex align-items-center justify-content-center fs-4"
            ><ng-icon name="iconoirPlus"></ng-icon
          ></span>
          <span> Aggiungi prodotto</span>
        </button>
      </form>
    </div>
  </div>
</div>
